# Your LSU info goes here
export LSUUSERNAME=cs435100
export LSUSERVER=classes.csc.lsu.edu
export LSUHOME=/classes/cs4351/${LSUUSERNAME}

# Set the working directory
# That is going to be the directory with the project files in them
export PROGDIR=${HOME}/Documents/CSC4351_Projects